@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
    background-color: #f6f6f6;
    font-size: 17px;
    font-family: 'Lora', serif;
}

nav {
    margin-bottom: 65px;
}

nav  a{
float: left;
text-decoration: none; /* pas d'héritage avec effet souligné */
color: #ffffff;
background: #000000;
height: 40px;
line-height: 37px;
padding: 0 10px;
font-family: 'Lora', serif;
font-size: 17px;
transition: .5s; /* temps de transition lors du hover : une demi seconde */
}
nav  a:hover{ /* tous liens lors du survol dans la balise nav */
background: #0288D1;
}

p {
   clear: both; /* permet d'éviter d'avoir les éléments à côté du menu */
}

p a:visited{
    color: #4b2f89;
}

h2 {
   clear: both; /* permet d'éviter d'avoir les éléments à côté du menu */
  color : #FFFFFF;
  background-color: #0288D1;
}