{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>application</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Projet Pattern prosite</h1>
    <nav>
            <a href="http://127.0.0.1:8000/">Accueil</a>
            <a href="http://127.0.0.1:8000/pattern_prosite/">Application</a>
            <a href="http://127.0.0.1:8000/guide/">Guide d'utilisation</a>
            <a href="http://127.0.0.1:8000/telechargement">Téléchargement</a>
            <a href="">Information sur le projet initial</a>
    </nav>
    <p>Application</p>
</body>
</html>