{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Résultat</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>Projet Pattern prosite</h1>
    <nav>
            <a href="http://127.0.0.1:8000/">Accueil</a>
            <a href="http://127.0.0.1:8000/pattern_prosite/">Application</a>
            <a href="http://127.0.0.1:8000/guide/">Guide d'utilisation</a>
            <a href="http://127.0.0.1:8000/telechargement">Téléchargement</a>
            <a href="">Information sur le projet initial</a>
    </nav>
<p>Changer les <a href="http://127.0.0.1:8000/pattern_prosite/">paramètres</a></p>
<p>Le fichier FASTA contient {{ nb_seq }} séquences, d'une longueur de {{ taille }} acides aminés.</p>
<h2>Pattern et recherche</h2>
<p>Le pattern suivant à pu être déterminer : {{ pattern }}</p>
<p>{{ occurence }}</p>

<h2>Sites conservés</h2>
<p>{{ nb_conserv }} sites sont conservés.<br>{{ conserver }}</br></p>

<h2>Indels</h2>
<p>{{ indel }}</p>

</body>
</html>